Repository geehexx/hitl-mcp-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, interrogate

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - hitl_mcp_cli/

bandit:
  name: bandit
  entry: uv run bandit
  language: system
  pass_filenames: false
  args:
  - -c
  - pyproject.toml
  - -r
  - hitl_mcp_cli/

interrogate:
  name: interrogate
  entry: uv run interrogate
  language: system
  pass_filenames: false
  args:
  - --fail-under=80
  - --ignore-init-method
  - --ignore-init-module
  - hitl_mcp_cli/

feat(resources): add metrics://summary resource for performance tracking
  hitl_mcp_cli/resources/__init__.py
  hitl_mcp_cli/resources/_metrics.py
Due: mypy, bandit, interrogate

fix(metrics): only include resolved requests in avg_response_time_s
  hitl_mcp_cli/resources/_metrics.py
  hitl_mcp_cli/tui/queue.py
  tests/test_server.py
Due: mypy, bandit, interrogate

chore: add CLAUDE.md and .mcp.json for Claude Code project config
  .mcp.json
  CLAUDE.md
Due: none

feat(config): add configurable timeout env vars and prompt/config tests
  hitl_mcp_cli/_config.py
  hitl_mcp_cli/tools/_confirm.py
  tests/test_config.py
  tests/test_prompts.py
Due: mypy, bandit, interrogate

test(resources): add 100% coverage for four MCP resource modules
  tests/test_resources.py
Due: bandit, interrogate

ci: add GitHub Actions CI and CodeRabbit config
  .coderabbit.yaml
  .github/workflows/ci.yml
Due: none

chore: add lefthook.yml for standardized git hooks
  lefthook.yml
Due: none

test: add targeted coverage tests raising total from 90% to 92%
  tests/test_coverage_targeted.py
Due: bandit, interrogate

fix(cli): defer server import to fix --help timeout and stale mock targets
  hitl_mcp_cli/cli.py
  tests/test_cli.py
  tests/test_cli_integration.py
  tests/test_coverage_gaps.py
  tests/test_coverage_phase5.py
  tests/test_server.py
Due: mypy, bandit, interrogate

fix: address CodeRabbit review — log rotation, encapsulation, and test hygiene
  docs/ROADMAP.md
  hitl_mcp_cli/interaction_log.py
  hitl_mcp_cli/tools/_collect.py
  hitl_mcp_cli/tools/_confirm.py
  hitl_mcp_cli/tui/app.py
  tests/test_e2e_scenarios.py
  tests/test_mcp_integration.py
  tests/test_property_queue.py
  tests/test_tui_pilot.py
Due: mypy, bandit, interrogate

chore: add commitizen config for conventional commit versioning
  pyproject.toml
Due: none

docs: add llms.txt and AGENTS.md for OSS compatibility
  AGENTS.md
  README.md
  llms.txt
Due: none

fix: address CodeRabbit review — event loop safety, dep conflict, hook ordering
  lefthook.yml
  pyproject.toml
  tests/test_property_queue.py
  tests/test_tui_queue.py
  uv.lock
Due: bandit, interrogate

chore(deps): bump dev dependencies from dependabot PRs
  pyproject.toml
  uv.lock
Due: none

fix: implement fuzzy search and default selection in hitl_choose
  hitl_mcp_cli/tools/_collect.py
  hitl_mcp_cli/tui/screens.py
  tests/test_choose_screen.py
Due: mypy, bandit, interrogate

test: add full coverage for MCP resources module
  hitl_mcp_cli/tui/app.py
  tests/test_resources.py
Due: mypy, bandit, interrogate

fix: exclude snapshot SVGs from trailing-whitespace pre-commit hook
  .pre-commit-config.yaml
  tests/__snapshots__/test_tui_snapshots/test_choose_screen_single.svg
  tests/__snapshots__/test_tui_snapshots/test_collect_screen_text.svg
  tests/__snapshots__/test_tui_snapshots/test_confirm_screen_high.svg
  tests/__snapshots__/test_tui_snapshots/test_confirm_screen_medium.svg
  tests/__snapshots__/test_tui_snapshots/test_confirm_screen_with_step.svg
  tests/__snapshots__/test_tui_snapshots/test_long_message_collapsible.svg
  tests/__snapshots__/test_tui_snapshots/test_notify_screen_success.svg
Due: none

feat(hitl): add urgency field + morning-batch deferral to collect/ask/choose
  hitl_mcp_cli/tools/_collect.py
Due: mypy, bandit, interrogate

chore(release): bump version to 1.0.0
  pyproject.toml
Due: none

feat(p1): foundation refactor — resources, timeouts, hitl_poll
  hitl_mcp_cli/resources/_history.py
  hitl_mcp_cli/server.py
  hitl_mcp_cli/timeout_config.py
  hitl_mcp_cli/tools/__init__.py
  hitl_mcp_cli/tools/_collect.py
  hitl_mcp_cli/tools/_confirm.py
  hitl_mcp_cli/tools/_poll.py
  hitl_mcp_cli/tui/queue.py
  tests/test_mcp_integration.py
  tests/test_p1_history_n.py
  tests/test_p1_poll.py
  tests/test_p1_timeouts.py
  tests/test_server.py
  uv.lock
Due: mypy, bandit, interrogate

fix(queue): skip stale futures in HITLQueue.get()
  hitl_mcp_cli/tui/queue.py
Due: mypy, bandit, interrogate

docs(p1): add MCP three-primitive refactor audit
  docs/refactor-audit.md
Due: none

fix(p1): address CodeRabbit Major findings + speed up test suite
  .claude/skills/hitl-mcp-usage/SKILL.md
  hitl_mcp_cli/_os_notify.py
  hitl_mcp_cli/_server_core.py
  hitl_mcp_cli/timeout_config.py
  hitl_mcp_cli/tools/__init__.py
  hitl_mcp_cli/tools/_collect.py
  hitl_mcp_cli/tools/_elaborate.py
  hitl_mcp_cli/tools/_notify.py
  hitl_mcp_cli/tools/_recommend.py
  hitl_mcp_cli/tools/_reject.py
  hitl_mcp_cli/tui/queue.py
  tests/test_e2e_scenarios.py
  tests/test_e2e_timeout.py
  tests/test_mcp_integration.py
  tests/test_p1_history_n.py
  tests/test_p1_poll.py
  tests/test_p1_timeouts.py
  tests/test_p2_features.py
  tests/test_property_queue.py
  tests/test_server.py
  tests/test_timeout_handling.py
Due: mypy, bandit, interrogate

fix(p1): address remaining CodeRabbit findings (round 2)
  hitl_mcp_cli/timeout_config.py
  hitl_mcp_cli/tools/_collect.py
  hitl_mcp_cli/tools/_recommend.py
  tests/test_p1_poll.py
  tests/test_p1_timeouts.py
  tests/test_p2_features.py
  tests/test_timeout_handling.py
Due: mypy, bandit, interrogate

fix(p1): address CodeRabbit round 2 findings (timeout precision, default bypass)
  docs/refactor-audit.md
  hitl_mcp_cli/_os_notify.py
  hitl_mcp_cli/_server_core.py
  hitl_mcp_cli/tools/_notify.py
  tests/test_p1_poll.py
  tests/test_p1_timeouts.py
Due: mypy, bandit, interrogate

fix(p1): address CodeRabbit round 3 findings
  hitl_mcp_cli/tools/_confirm.py
  hitl_mcp_cli/tools/_recommend.py
  tests/test_p1_poll.py
Due: mypy, bandit, interrogate

fix(tests): correct _reset_tui_globals return type -> None
  tests/test_p1_poll.py
  tests/test_p2_features.py
Due: bandit, interrogate

fix(confirm): restore legacy timeout_seconds=0 infinite-wait semantics
  hitl_mcp_cli/tools/_confirm.py
Due: mypy, bandit, interrogate

fix(tests): use HITL_DEFAULT_WAIT_MIN env key in e2e fixtures (CodeRabbit P1 env-key mismatch)
  tests/test_e2e_scenarios.py
  tests/test_e2e_timeout.py
Due: bandit, interrogate

feat(p1): foundation refactor — resources, timeouts, hitl_poll
  .claude/skills/hitl-mcp-usage/SKILL.md
  docs/refactor-audit.md
  hitl_mcp_cli/_os_notify.py
  hitl_mcp_cli/_server_core.py
  hitl_mcp_cli/resources/_history.py
  hitl_mcp_cli/server.py
  hitl_mcp_cli/timeout_config.py
  hitl_mcp_cli/tools/__init__.py
  hitl_mcp_cli/tools/_collect.py
  hitl_mcp_cli/tools/_confirm.py
  hitl_mcp_cli/tools/_elaborate.py
  hitl_mcp_cli/tools/_notify.py
  hitl_mcp_cli/tools/_poll.py
  hitl_mcp_cli/tools/_recommend.py
  hitl_mcp_cli/tools/_reject.py
  hitl_mcp_cli/tui/queue.py
  tests/test_e2e_scenarios.py
  tests/test_e2e_timeout.py
  tests/test_mcp_integration.py
  tests/test_p1_history_n.py
  tests/test_p1_poll.py
  tests/test_p1_timeouts.py
  tests/test_p2_features.py
  tests/test_property_queue.py
  tests/test_server.py
  tests/test_timeout_handling.py
  uv.lock
Due: mypy, bandit, interrogate

Path conditions:
  mypy: any of: ^hitl_mcp_cli/ and \.py$ and not (^(\.venv/|build/|dist/|\.eggs/|\.tox/|__pycache__/|.*\.pyc$))
  bandit: any of: \.py$, but not: ^(\.venv/|build/|dist/|\.eggs/|\.tox/|__pycache__/|.*\.pyc$)
  interrogate: any of: \.py$, but not: ^(\.venv/|build/|dist/|\.eggs/|\.tox/|__pycache__/|.*\.pyc$)
